@tailwind base;
@tailwind components;
@tailwind utilities;

button,
input {
  border: 1px solid #cbd5e1;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  background: white;
}

button:hover {
  background: #e5e7eb;
}

ul,
ol {
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
}
